@import 'bootstrap-sprockets';
@import 'bootstrap';

/* variables */


/* mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

/* header */
#logo {
  float: left;
  padding-top: 9px;
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

/* footer */
footer {
 small {
  padding-top: 17px;
  padding-left: 5%;
  float: left;
  color: $gray-light;
  }
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

/* different */
.debug_dump {
  clear: both;
  margin-top: 45px;
  background: #b36464;
  width: 100%;
  @include box_sizing;
}


/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.avatar {
  height: 80px;
}

.check_box {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#sessions_remember_me {
  width: auto;
  margin-left: 0;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
